In [1]:
#Importing libraries

#Importing pandas
import pandas as pd
#Natural Language Processing
import nltk

## Covishield

In [2]:
covishield_january=pd.read_csv('Covishield_tweets_January_cleaned.csv')
covishield_february=pd.read_csv('Covishield_tweets_February_cleaned.csv')
covishield_march=pd.read_csv('Covishield_tweets_March_cleaned.csv')
covishield_april=pd.read_csv('Covishield_tweets_April_cleaned.csv')
covishield_may=pd.read_csv('Covishield_tweets_May_cleaned.csv')
covishield_june=pd.read_csv('Covishield_tweets_June_cleaned.csv')
covishield_july=pd.read_csv('Covishield_tweets_July_cleaned.csv')
covishield_august=pd.read_csv('Covishield_tweets_August_cleaned.csv')
covishield_september=pd.read_csv('Covishield_tweets_September_cleaned.csv')

In [3]:
#Head of dataframe
covishield_january.head()

,Created_At,Tweet,Tweet_clean
0,2021-01-16 00:01:06+00:00,$OCGN Covishield &amp; Covaxin virtually the s...,OCGN Covishield amp Covaxin virtually the s...
1,2021-01-16 00:14:58+00:00,1st Covishield vax export to Brazil in 2 weeks...,1st Covishield vax export to Brazil in 2 weeks...
2,2021-01-16 00:37:38+00:00,"""India's drug regulator has given the green li...",India s drug regulator has given the green li...
3,2021-01-16 00:44:09+00:00,"India, which has 2nd highest No of #COVID19 in...",India which has 2nd highest No of COVID19 inf...
4,2021-01-16 01:01:00+00:00,Comparative factsheet on COVID19 vaccines Covi...,Comparative factsheet on COVID19 vaccines Covi...

### Sentiment Analysis

In [4]:
# Sentiment Analysis (VADER)
from nltk.sentiment.vader import SentimentIntensityAnalyzer

**VADER ( Valence Aware Dictionary for Sentiment Reasoning)** is a model used for text sentiment analysis that is sensitive to both polarity (positive/negative) and intensity (strength) of emotion. It is available in the NLTK package and can be applied directly to unlabeled text data.

In [5]:
# Creating Object of Sentiment Intensity Analyser

sid = SentimentIntensityAnalyzer()

In [6]:
#Finding Polarity scores on tweet

sid.polarity_scores(covishield_january['Tweet_clean'][1])
#The compound scores of 0-1 is positive, 0 is for neutral, -0 to -1 for negative.

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [7]:
#Creating Scores column to record polarity scores of tweet_clean column by lambda function.

covishield_january['scores']=covishield_january['Tweet_clean'].apply(lambda tweet_clean:sid.polarity_scores(tweet_clean))
covishield_february['scores']=covishield_february['Tweet_clean'].apply(lambda tweet_clean:sid.polarity_scores(tweet_clean))
covishield_march['scores']=covishield_march['Tweet_clean'].apply(lambda tweet_clean:sid.polarity_scores(tweet_clean))
covishield_april['scores']=covishield_april['Tweet_clean'].apply(lambda tweet_clean:sid.polarity_scores(tweet_clean))
covishield_may['scores']=covishield_may['Tweet_clean'].apply(lambda tweet_clean:sid.polarity_scores(tweet_clean))
covishield_june['scores']=covishield_june['Tweet_clean'].apply(lambda tweet_clean:sid.polarity_scores(tweet_clean))
covishield_july['scores']=covishield_july['Tweet_clean'].apply(lambda tweet_clean:sid.polarity_scores(tweet_clean))
covishield_august['scores']=covishield_august['Tweet_clean'].apply(lambda tweet_clean:sid.polarity_scores(tweet_clean))
covishield_september['scores']=covishield_september['Tweet_clean'].apply(lambda tweet_clean:sid.polarity_scores(tweet_clean))

**Polarity Score** provides Positive, Negative, Neutral and Compound score of the sentences provided to it

In [32]:
#Head of Dataframe after scores column
covishield_september.head()

,Created_At,Tweet,Tweet_clean,scores
0,2021-09-01 00:00:03+00:00,Central Delhi has at least 42539 new slots ava...,Central Delhi has at least 42539 new slots ava...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,2021-09-01 00:00:06+00:00,West delhi has at least 26823 new slots availa...,West delhi has at least 26823 new slots availa...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,2021-09-01 00:00:10+00:00,"Age = 18 || Block 1 Zion Hospital, 560043, COV...",Age 18 Block 1 Zion Hospital 560043 COVIS...,"{'neg': 0.182, 'neu': 0.818, 'pos': 0.0, 'comp..."
3,2021-09-01 00:00:13+00:00,"Age = 18 || SHANTHI HOSPITAL AND RESEARCH, 560...",Age 18 SHANTHI HOSPITAL AND RESEARCH 5600...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,2021-09-01 00:00:19+00:00,"Age = 18 || Apollo Clinic Sarjapur P3, 560035,...",Age 18 Apollo Clinic Sarjapur P3 560035 C...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [33]:
#Creating Compound column by retrieving compound from dictionary of scores.

covishield_january['compound']=covishield_january['scores'].apply(lambda d:d['compound'])
covishield_february['compound']=covishield_february['scores'].apply(lambda d:d['compound'])
covishield_march['compound']=covishield_march['scores'].apply(lambda d:d['compound'])
covishield_april['compound']=covishield_april['scores'].apply(lambda d:d['compound'])
covishield_may['compound']=covishield_may['scores'].apply(lambda d:d['compound'])
covishield_june['compound']=covishield_june['scores'].apply(lambda d:d['compound'])
covishield_july['compound']=covishield_july['scores'].apply(lambda d:d['compound'])
covishield_august['compound']=covishield_august['scores'].apply(lambda d:d['compound'])
covishield_september['compound']=covishield_september['scores'].apply(lambda d:d['compound'])

In [34]:
#Head of Dataframe after getting Compount Score
covishield_september.head()

,Created_At,Tweet,Tweet_clean,scores,compound
0,2021-09-01 00:00:03+00:00,Central Delhi has at least 42539 new slots ava...,Central Delhi has at least 42539 new slots ava...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1,2021-09-01 00:00:06+00:00,West delhi has at least 26823 new slots availa...,West delhi has at least 26823 new slots availa...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
2,2021-09-01 00:00:10+00:00,"Age = 18 || Block 1 Zion Hospital, 560043, COV...",Age 18 Block 1 Zion Hospital 560043 COVIS...,"{'neg': 0.182, 'neu': 0.818, 'pos': 0.0, 'comp...",-0.4404
3,2021-09-01 00:00:13+00:00,"Age = 18 || SHANTHI HOSPITAL AND RESEARCH, 560...",Age 18 SHANTHI HOSPITAL AND RESEARCH 5600...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
4,2021-09-01 00:00:19+00:00,"Age = 18 || Apollo Clinic Sarjapur P3, 560035,...",Age 18 Apollo Clinic Sarjapur P3 560035 C...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000

In [35]:
#Creating Sentiments Subdivision Category from the Compound score

covishield_september['sentiment'] = 'Nan'
for i in range(len(covishield_september)):
    # Weak Positive Category
    if(covishield_september['compound'][i] > 0 and covishield_september['compound'][i] < 0.8):
        covishield_september['sentiment'][i] = 'Weak Positive'
    # Strong Positive Category
    elif(covishield_september['compound'][i]) >= 0.8 and covishield_september['compound'][i] <= 1:
        covishield_september['sentiment'][i] = 'Strong Positive'
    # Weak Negative Category
    elif(covishield_september['compound'][i] < 0 and covishield_september['compound'][i] > -0.8):
        covishield_september['sentiment'][i] = 'Weak Negative'
    # Strong Negative Category
    elif(covishield_september['compound'][i]) <= -0.8 and covishield_september['compound'][i] >= -1:
        covishield_september['sentiment'][i] = 'Strong Negative'
    # Neutral Category
    else:
        covishield_september['sentiment'][i] = 'Neutral'

<ipython-input-35-097ffa67350b>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covishield_september['sentiment'][i] = 'Neutral'
<ipython-input-35-097ffa67350b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covishield_september['sentiment'][i] = 'Weak Negative'
<ipython-input-35-097ffa67350b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covishield_september['sentiment'][i] = 'Weak Positive'
<ipython-input-35-097ffa67350b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covishield_september['sentiment'][i] = 'Strong Positive'
<ipython-input-35-097ffa67350b>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covishield_september['sentiment'][i] = 'Strong Negative'

In [36]:
#Head of dataframe after 'sentiment' column
covishield_september.head()

,Created_At,Tweet,Tweet_clean,scores,compound,sentiment
0,2021-09-01 00:00:03+00:00,Central Delhi has at least 42539 new slots ava...,Central Delhi has at least 42539 new slots ava...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,Neutral
1,2021-09-01 00:00:06+00:00,West delhi has at least 26823 new slots availa...,West delhi has at least 26823 new slots availa...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,Neutral
2,2021-09-01 00:00:10+00:00,"Age = 18 || Block 1 Zion Hospital, 560043, COV...",Age 18 Block 1 Zion Hospital 560043 COVIS...,"{'neg': 0.182, 'neu': 0.818, 'pos': 0.0, 'comp...",-0.4404,Weak Negative
3,2021-09-01 00:00:13+00:00,"Age = 18 || SHANTHI HOSPITAL AND RESEARCH, 560...",Age 18 SHANTHI HOSPITAL AND RESEARCH 5600...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,Neutral
4,2021-09-01 00:00:19+00:00,"Age = 18 || Apollo Clinic Sarjapur P3, 560035,...",Age 18 Apollo Clinic Sarjapur P3 560035 C...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,Neutral

In [37]:
# Different sentiments category 
covishield_september['sentiment'].value_counts()

Neutral            12057
Weak Positive       8523
Weak Negative       3755
Strong Positive      542
Strong Negative      253
Name: sentiment, dtype: int64

In [38]:
# Percentage of Above Different Sentiments Category for Visualisation

for i in range(len(covishield_september['sentiment'].value_counts())):
    percentage = covishield_september['sentiment'].value_counts()[i] / len(covishield_september)
    print(covishield_september['sentiment'].value_counts().index[i], round(percentage*100,2),"%", "rounded to",round(percentage*100),"%")

Neutral 47.98 % rounded to 48 %
Weak Positive 33.92 % rounded to 34 %
Weak Negative 14.94 % rounded to 15 %
Strong Positive 2.16 % rounded to 2 %
Strong Negative 1.01 % rounded to 1 %

The above process can be applied to other months as well